{% load wagtailcore_tags wagtailimages_tags %}

<!-- template -->
<div class="ms-partialview-template" id="partial-view">
    <!-- masterslider -->
    <div class="master-slider ms-skin-default" id="masterslider2">
    {% for news in news %}
    {% image news.main_image width-600 as my_image %}
        <div class="ms-slide">
          <img src="../../../../static/masterslider/style/blank.gif" data-src="{{ my_image.url }}" alt="lorem ipsum dolor sit"/>
            <div class="ms-info">
              <a rel="gallery-1" href="{{ my_image.url }}" class="swipebox news-tooltip" title="{{ news.body }}" data-html="true" data-toggle="tooltip" data-placement="bottom" data-content="content">
                <h3>{{ news.title }}</h3>
              </a>
                <h4>{{ news.intro }}</h4>
                <!-- <p>{{ news.body }}</p> -->
            </div>
        </div>
    {% endfor %}
    </div>
</div>
