{% load wagtailcore_tags %}
{% load wagtailsettings_tags %}


{% for participe in participe %}

        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>{{ participe.title }}</h2>
                    <hr class="small">
                   <div class="lead">{{ participe.body }} </div>
                   <!-- <div class="p-text1"><p> Tire suas fotos através das janelas dos coletivos. </p> </div> -->
                   <div class="col-sm-6 col-md-4 text-center">
                      <div class="thumbnail1">
                        <img src="/media/images/participe1.original.png" alt="...">
                        <div class="caption1">
                          <h3>Tire suas fotos através das janelas dos coletivos.</h3>
                          <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 text-center">
                       <div class="thumbnail2">
                         <img src="/media/images/participe2.original.png" alt="...">
                         <div class="caption2">
                           <h3>Poste no seu instagram com a hasthag #dajaneladomeuonibus.<br> Diga também a linha e o local do clique.</h3>
                           <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                         </div>
                       </div>
                     </div>
                     <div class="col-sm-6 col-md-4 text-center">
                        <div class="thumbnail3">
                          <img src="/media/images/participe3.original.png" alt="...">
                          <div class="caption3">
                            <h3>Sua foto já embarcou nessa viagem! Todos que clicarem na hasthag poderão vê-la, e você ainda poderá ser um dos destaques diários da página.</h3>
                            <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                          </div>
                        </div>
                      </div>
                      <div class="container2 text-left">
                        <h3 class="text-center"><strong>REGRAS:</strong></h3>
                        <ul>
                          <li>As fotos devem ser tiradas de dentro dos transportes coletivos;</li>
                          <li>Devem aparecer janelas, ou o através delas;</li>
                          <li>São destacadas duas fotografias por dia na página do Dajanela, tanto no
                          Instagram, como no Facebook e no Twitter.</li>
                          <li>A curadoria das fotos destacadas é de responsabilidade da autora e equipe
                          assim destinada e esta tem toda a liberdade de escolha.</li>
                          <li>Fotos de avião, carros, motos, bicicletas ou a pé, não são aceitas.</li>
                          <li>Transportes coletivos aceitos: ônibus, metrôs, trens, trans, bondes. Mas
                          também são aceitos outros meios de transporte usado coletivamente em
                          substituições a esses, desde que tenha uso díário e saídas periódicas (e não de
                          turismo), ex: barca entre Rio-Niterói, Toyotas da cidade de Santa Cruz do
                          Capibaribe.</li>
                        </ul>
                      </div>

                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>

{% endfor %}
