{% load wagtailcore_tags %}
{% load wagtailsettings_tags %}


{% for participe in participe %}

        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>{{ participe.title }}</h2>
                    <hr class="small">
                   <div class="lead">{{ participe.body }} </div>
                    <!-- /.row (nested) -->
                    <a href="#" class="btn btn-dark">Saiba mais</a>

                    <ul class="list-inline">
                    
                        <li>
                          <a href="{{ settings.app_label.SocialMediaSettings.facebook }}"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>

{% endfor %}
