{% load wagtailcore_tags %}
{% load wagtailsettings_tags %}


{% for participe in participe %}

        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>{{ participe.title }}</h2>
                    <hr class="small">
                   <div class="lead">{{ participe.body }} </div>
                   <!-- <div class="p-text1"><p> Tire suas fotos através das janelas dos coletivos. </p> </div> -->
                  <div class="row text-center container-fluid struct">
                   <div class="col-sm-6 col-md-4 text-center">
                      <div class="thumbnail1">
                        <img src="/media/images/participe1.original.png" alt="..."></img>
                        <div class="caption1">
                          <h5>Tire fotos através das janelas dos coletivos.</h5>
                          <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 text-center">
                       <div class="thumbnail2">
                         <img src="/media/images/participe2.original.png" alt="..."></img>
                         <div class="caption2">
                           <h5>Poste no instagram com a hasthag #dajaneladomeuonibus.<br> Diga também a linha e o local do clique.</h5>
                           <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                         </div>
                       </div>
                     </div>
                     <div class="col-sm-6 col-md-4 text-center">
                        <div class="thumbnail3">
                          <img src="/media/images/participe3.original.png" alt="..."></img>
                          <div class="caption3">
                            <h5>Sua foto já embarcou nessa viagem! Quem clicar na hasthag poderá vê-la, e poderá ser um destaque na página.</h5>
                            <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                          </div>
                        </div>
                      </div>
              <!-- /.row (nested) -->
                  </div>
                      <div class="container2 text-center">
                      <a rel="" href="#" class="swipebox news-tooltip text-center" title="
- As fotos devem ser tiradas de dentro dos transportes coletivos;<br>
- Devem aparecer janelas, ou através delas;<br>
- São destacadas duas fotografias por dia na página do Dajanela, tanto no Instagram, como no Facebook e no Twitter;<br>
- A curadoria das fotos destacadas é de responsabilidade da autora e equipe assim destinada e esta tem toda a liberdade de escolha;<br>
- Fotos de avião, carros, motos, bicicletas ou a pé, não são aceitas;<br>
- Transportes coletivos aceitos: ônibus, metrôs, trens, trans, bondes. Mas também são aceitos outros meios de transporte usado coletivamente em substituições a esses, desde que tenha uso díário e saídas periódicas (e não de turismo), ex: barca entre Rio-Niterói, Toyotas da cidade de Santa Cruz do Capibaribe." data-toggle="tooltip" data-placement="bottom">
                        <h3 class="text-center"><strong>Saiba mais</strong></h3>
                      </a>
                      </div>

                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>

{% endfor %}
