{% load wagtailcore_tags wagtailimages_tags %}
<!-- template -->
<div class="ms-staff-carousel">
    <!-- masterslider -->
    <div class="master-slider" id="masterslider">
			{% for testimonials in testimonials %}
			{% image testimonials.main_image width-400 as my_image %}
        <div class="ms-slide">
            <!-- <img src="../../../../static/masterslider/style/blank.gif" data-src="{{ my_image.url }}" alt="lorem ipsum dolor sit"/> -->
            <div class="ms-info">
                <blockquote>{{ testimonials.title }}</blockquote>
                <h4>{{ testimonials.name }}</h4>
                <ul class="ig">
                    <!-- <li class="ig fa fa-instagram fa-fw fa-3x"><a target='_blank' href="{{ testimonials.name }}"> </i> </a></li> -->
                </ul>
            </div>
        </div>
				{% endfor %}
    </div>
    <!-- end of masterslider -->
    <div class="ms-staff-info" id="staff-info"> </div>
</div>
<!-- end of template -->
