{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/search.css' %}" rel="stylesheet">
    <link href="{% static 'css/type.css' %}" rel="stylesheet">
    <link href="{% static 'css/swipebox.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slide-fullscreen.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/slide-partial.css' %}"> -->

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Jscripts -->
    <!-- <script src="//code.jquery.com/jquery-2.1.4.min.js"></script> -->
    <!-- <script src="{% static 'js/jquery-1.11.3.min.js' %}" type="text/javascript"></script> -->
        <!-- Custom MasterSlide -->
    <!-- Base MasterSlider style sheet -->
    <link rel="stylesheet" href="{% static 'masterslider/style/masterslider.css' %}" />

    <!-- Master Slider Skin -->
    <link href="{% static 'masterslider/skins/default/style.css' %}" rel='stylesheet' type='text/css'>

    <!-- MasterSlider Template Style -->
    <link href="{% static 'masterslider/style/ms-fullscreen.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'masterslider/style/ms-partialview.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'masterslider/style/ms-staff-style.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'masterslider/style/ms-lightbox.css' %}" rel='stylesheet' type='text/css'>
    <!-- google font Lato     -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> -->

    <!-- Prettyphoto Lightbox jQuery Plugin -->
    <link href="{% static 'css/prettyPhoto.css' %}"  rel='stylesheet' type='text/css'/>


    <!-- jQuery -->
    <script src="{% static 'masterslider/jquery.min.js' %}"></script>
    <script src="{% static 'masterslider/jquery.easing.min.js' %}"></script>

    <!-- Master Slider -->
    <script src="{% static 'masterslider/masterslider.min.js' %}"></script>
    <!-- SwipeBox  -->
    <script src="{% static 'js/jquery.swipebox.js' %}"></script>





    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
      {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

</head>

<body class="{% block body_class %}{% endblock %}">


    <!-- Navigation -->
    {% wagtailuserbar %}

        {% block content %}{% endblock %}

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                  <h2>#Parcerias</h2>
                    <img src="{% static 'images/logofunculturasite.png' %}"

                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>
    <script type="text/javascript">
      ;( function( $ ) {

      	$( '.swipebox' ).swipebox();

      } )( jQuery );
    </script>
    <!-- slidjs-->
    <script src="{% static 'js/slide-fullscreen.js' %}"></script>
    <script src="{% static 'js/slide-lightbox.js' %}"></script>
    <script src="{% static 'js/slide-partial.js' %}"></script>
    <script src="{% static 'js/slide-staffcarousel.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>

  
<!-- MasterSlider Template Style -->

 
<!-- google font Lato
<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
-->
 
        
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
</body>
</html>
