@font-face {
  font-family: 'Gotham-BoldItalic';
  src: url('../fonts/Gotham-BoldItalic.eot');
  src: url('../fonts/Gotham-BoldItalic.woff2') format('woff2'),
       url('../fonts/Gotham-BoldItalic.woff') format('woff'),
       url('../fonts/Gotham-BoldItalic.ttf') format('truetype'),
       url('../fonts/Gotham-BoldItalic.svg#Gotham-BoldItalic') format('svg'),
       url('../fonts/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
       url('../fonts/Gotham-Bold.woff') format('woff'),
       url('../fonts/Gotham-Bold.ttf') format('truetype'),
       url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg'),
       url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-BlackItalic';
  src: url('../fonts/Gotham-BlackItalic.eot');
  src: url('../fonts/Gotham-BlackItalic.woff2') format('woff2'),
       url('../fonts/Gotham-BlackItalic.woff') format('woff'),
       url('../fonts/Gotham-BlackItalic.ttf') format('truetype'),
       url('../fonts/Gotham-BlackItalic.svg#Gotham-BlackItalic') format('svg'),
       url('../fonts/Gotham-BlackItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Black';
  src: url('../fonts/../fonts/../fonts/Gotham-Black.eot');
  src: url('../fonts/../fonts/../fonts/Gotham-Black.woff2') format('woff2'),
       url('../fonts/../fonts/../fonts/Gotham-Black.woff') format('woff'),
       url('../fonts/../fonts/../fonts/Gotham-Black.ttf') format('truetype'),
       url('../fonts/../fonts/../fonts/Gotham-Black.svg#Gotham-Black') format('svg'),
       url('../fonts/../fonts/../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-LightItalic';
  src: url('../fonts/../fonts/Gotham-LightItalic.eot');
  src: url('../fonts/../fonts/Gotham-LightItalic.woff2') format('woff2'),
       url('../fonts/../fonts/Gotham-LightItalic.woff') format('woff'),
       url('../fonts/../fonts/Gotham-LightItalic.ttf') format('truetype'),
       url('../fonts/../fonts/Gotham-LightItalic.svg#Gotham-LightItalic') format('svg'),
       url('../fonts/../fonts/Gotham-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/Gotham-Light.eot');
  src: url('../fonts/Gotham-Light.woff2') format('woff2'),
       url('../fonts/Gotham-Light.woff') format('woff'),
       url('../fonts/Gotham-Light.ttf') format('truetype'),
       url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg'),
       url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-BookItalic';
  src: url('../fonts/Gotham-BookItalic.eot');
  src: url('../fonts/Gotham-BookItalic.woff2') format('woff2'),
       url('../fonts/Gotham-BookItalic.woff') format('woff'),
       url('../fonts/Gotham-BookItalic.ttf') format('truetype'),
       url('../fonts/Gotham-BookItalic.svg#Gotham-BookItalic') format('svg'),
       url('../fonts/Gotham-BookItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.woff2') format('woff2'),
       url('../fonts/Gotham-Book.woff') format('woff'),
       url('../fonts/Gotham-Book.ttf') format('truetype'),
       url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg'),
       url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-ThinItalic';
  src: url('../fonts/../fonts/Gotham-ThinItalic.eot');
  src: url('../fonts/../fonts/Gotham-ThinItalic.woff2') format('woff2'),
       url('../fonts/../fonts/Gotham-ThinItalic.woff') format('woff'),
       url('../fonts/../fonts/Gotham-ThinItalic.ttf') format('truetype'),
       url('../fonts/../fonts/Gotham-ThinItalic.svg#Gotham-ThinItalic') format('svg'),
       url('../fonts/../fonts/Gotham-ThinItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Thin';
  src: url('../fonts/Gotham-Thin.eot');
  src: url('../fonts/Gotham-Thin.woff2') format('woff2'),
       url('../fonts/Gotham-Thin.woff') format('woff'),
       url('../fonts/Gotham-Thin.ttf') format('truetype'),
       url('../fonts/Gotham-Thin.svg#Gotham-Thin') format('svg'),
       url('../fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-MediumItalic';
  src: url('../fonts/Gotham-MediumItalic.eot');
  src: url('../fonts/Gotham-MediumItalic.woff2') format('woff2'),
       url('../fonts/Gotham-MediumItalic.woff') format('woff'),
       url('../fonts/Gotham-MediumItalic.ttf') format('truetype'),
       url('../fonts/Gotham-MediumItalic.svg#Gotham-MediumItalic') format('svg'),
       url('../fonts/../fonts/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.woff2') format('woff2'),
       url('../fonts/Gotham-Medium.woff') format('woff'),
       url('../fonts/Gotham-Medium.ttf') format('truetype'),
       url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg'),
       url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-ExtraLightItalic';
  src: url('../fonts/../fonts/Gotham-ExtraLightItalic.eot');
  src: url('../fonts/../fonts/Gotham-ExtraLightItalic.woff2') format('woff2'),
       url('../fonts/../fonts/Gotham-ExtraLightItalic.woff') format('woff'),
       url('../fonts/../fonts/Gotham-ExtraLightItalic.ttf') format('truetype'),
       url('../fonts/../fonts/Gotham-ExtraLightItalic.svg#Gotham-ExtraLightItalic') format('svg'),
       url('../fonts/../fonts/Gotham-ExtraLightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-ExtraLight';
  src: url('../fonts/Gotham-ExtraLight.eot');
  src: url('../fonts/Gotham-ExtraLight.woff2') format('woff2'),
       url('../fonts/Gotham-ExtraLight.woff') format('woff'),
       url('../fonts/Gotham-ExtraLight.ttf') format('truetype'),
       url('../fonts/Gotham-ExtraLight.svg#Gotham-ExtraLight') format('svg'),
       url('../fonts/Gotham-ExtraLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-UltraItalic';
  src: url('../fonts/../fonts/Gotham-UltraItalic.eot');
  src: url('../fonts/../fonts/Gotham-UltraItalic.woff2') format('woff2'),
       url('../fonts/../fonts/Gotham-UltraItalic.woff') format('woff'),
       url('../fonts/../fonts/Gotham-UltraItalic.ttf') format('truetype'),
       url('../fonts/../fonts/Gotham-UltraItalic.svg#Gotham-UltraItalic') format('svg'),
       url('../fonts/../fonts/Gotham-UltraItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Ultra';
  src: url('../fonts/Gotham-Ultra.eot');
  src: url('../fonts/Gotham-Ultra.woff2') format('woff2'),
       url('../fonts/Gotham-Ultra.woff') format('woff'),
       url('../fonts/Gotham-Ultra.ttf') format('truetype'),
       url('../fonts/Gotham-Ultra.svg#Gotham-Ultra') format('svg'),
       url('../fonts/Gotham-Ultra.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


/* reset */
a {text-decoration: none !important;}

/* TypeFace */
body {
    font-family: "Gotham-Light";
    color:#000;
}

h1, h2  {
    font-family:"Gotham-Medium";
    /*text-rendering: optimizeLegibility;*/
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    /*text-rendering: optimizeLegibility !important;*/
    -webkit-font-smoothing: antialiased !important;
}
h1 {
  text-transform: uppercase;
}
h2{
    font-size: 4em;
    padding-bottom: 1em;
    margin-top: 0em;
}

h4  {
    font-family:"Gotham-Thin";
    /*text-rendering: optimizeLegibility;*/
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    /*text-rendering: optimizeLegibility !important;*/
    -webkit-font-smoothing: antialiased !important;
}

.ms-slide-info h3 {
    color:#E8E8E8 !important;
    font-family:"Gotham-Book";
    /*text-rendering: optimizeLegibility;*/
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    /*text-rendering: optimizeLegibility !important;*/
    -webkit-font-smoothing: antialiased !important;
    font-size: 2.2em !important;
    margin-top: 2em !important;
}

.ms-slide-info h3:hover {
  color:#eb8033 !important;
  text-decoration: none !important;
}

.ms-slide-info h4 {
    font-family:"Gotham-Light";
    color:#E8E8E8 !important;
    /*text-rendering: optimizeLegibility;*/
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    /*text-rendering: optimizeLegibility !important;*/
    -webkit-font-smoothing: antialiased !important;
    margin-top: 0.8em !important;
    font-size: 1.8em !important;
}

.ms-slide-info p {
    color:#E8E8E8 !important;
    /*text-rendering: optimizeLegibility;*/
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    /*text-rendering: optimizeLegibility !important;*/
    -webkit-font-smoothing: antialiased !important;
    margin-top: 0.8em !important;
    font-size: 1.2em !important;
}

p{
    margin: 0 0 0px;
    font-size: 3rem;
    /*text-rendering: optimizeLegibility;*/
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    /*text-rendering: optimizeLegibility !important;*/
    -webkit-font-smoothing: antialiased !important;
}

.tooltip-inner {
  font-family:"Gotham-Light";
  color:#E8E8E8 !important;
  font-size: 1.4em;
  text-align: justify; !important;
  padding:3em;
  padding-right:5em;
}

video {
max-width: 100%;

.container2{
  text-align: justify;
  position: relative;
}
.container2 li{
  text-align: justify;
  font-family:"Gotham-Book";
  font-size: 1.4em;
}

.caption1 h3{
  text-align: center !important;
  font-family: "Gotham-Book";
  font-size: 1.4em;
  margin-top: 4%;
  padding-right: 6% !important;
}
.caption2 h3{
  text-align: center !important;
  font-family: "Gotham-Book";
  font-size: 1.4em;
  padding-right: 12% !important;
}
.caption3 h3{
  text-align: start;
  font-family: "Gotham-Book";
  font-size: 1.4em;
  margin-top: 4%;

}
